<h1>Все пользователи</h1>
<div class="container">
  <% @users.each do |user| %>
      <%= link_to user.name, user %>
      <%= button_to 'Удалить', user_path(user), method: :delete %>
  <% end %>
</div>