<% if object.errors.any? %>
    <div class="alert alert-danger">
      Форма содержит <%= inclination(object.errors.count, 'ошибку', 'ошибки', 'ошибок') %>:
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
<% end %>